# IDE
.idea
.vscode

.DS_Store
*.tgz
*.tar
*.log
*.out
*.yaml


# Python compiled files
__pycache__
# Jupyter Notebook
.ipynb_checkpoints

# binary
bin/*

gpu2020/*
experiments/20*
experiments/data*
analysis/data/*